{% load django_tables2 %}
<c-layouts.app>
    <c-slot name="header">
        <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-4">

            <!-- START -->
            <div class="justify-self-start">
                <h1 class="font-bold text-xl flex items-center gap-2">{{ requisicion }}</h1>
            </div>

            <!-- MIDDLE -->
            <div class="justify-self-center w-full flex justify-center">

            </div>


            <!-- END -->
            <div class="justify-self-end">
                <div class="flex items-center gap-2">
                    {% if puede_confirmar %}
                        <form action="{% url 'papeleria:requisiciones__confirm' requisicion.pk %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-success">Confirmar</button>
                        </form>
                    {% endif %}

                    {% if puede_enviar_al_aprobador %}
                        <form action="{% url 'papeleria:requisiciones__confirm' requisicion.pk %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-success">Solicitar Aprobación</button>
                        </form>
                    {% endif %}

                    <button form="requisicion-form" class="btn btn-primary btn-sm">Guardar</button>
                </div>
            </div>
        </div>

    </c-slot>

    {% if not user.is_superuser %}
        <div class="stats stats-vertical md:stats-horizontal shadow mb-4 bg-base-100">

            <!-- Empresa -->
            <div class="stat">
                <div class="stat-title">Empresa</div>
                <div class="stat-value text-base">
                    {{ user.contacto.empresa }}
                </div>
            </div>

            <!-- Solicitante -->
            <div class="stat">
                <div class="stat-title">Solicitante</div>
                <div class="stat-value text-base">
                    {{ user.contacto.nombre_completo }}
                </div>
            </div>

            <!-- Área -->
            {% if user.contacto.area %}
                <div class="stat">
                    <div class="stat-title">Área</div>
                    <div class="stat-value text-base">
                        {{ user.contacto.area }}
                    </div>
                </div>
            {% endif %}

            <!-- Aprobador -->
            <div class="stat">
                <div class="stat-title">Aprobador</div>
                <div class="stat-value text-base">
                    {% if user.contacto.area and user.contacto.area.aprobador_papeleria %}
                        {{ user.contacto.area.aprobador_papeleria.contacto.nombre_completo }}
                    {% else %}
                        Aprobador de papelería no asignado
                    {% endif %}
                </div>
            </div>

        </div>
    {% endif %}

    <c-apps.papeleria.requisiciones.form/>
</c-layouts.app>