<c-layouts.app>
    <c-slot name="header">
        <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-4">

            <!-- START -->
            <div class="justify-self-start">
                <h1 class="text-primary font-bold text-xl flex items-center gap-2">{{ contacto }}</h1>

                <div class="flex items-center justify-between">
                    <div class="flex gap-2">
                        {% if contacto.fecha_egreso %}
                            <span class="badge badge-error">
                                Baja
                            </span>
                        {% endif %}

                        {% if contacto.esta_archivado %}
                            <span class="badge badge-warning">
                                Archivado
                            </span>
                        {% endif %}

                        {% if contacto.es_jefe %}
                            <span class="badge badge-info">
                                Jefe
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- MIDDLE -->
            <div class="justify-self-center w-full flex justify-center">

            </div>


            <!-- END -->
            <div class="flex gap-2 justify-self-end items-center">
                <c-shared.dropdown-actions>
                    {% if perms.directorio.view_contacto %}
                        <li>
                            <a href="{% url 'directorio:detail' contacto.pk %}">
                                Detalle
                            </a>
                        </li>
                    {% endif %}
                </c-shared.dropdown-actions>

                <c-apps.directorio.contactos.modal.confirmar tipo="actualizar"/>
                <button type="button" onclick="confirmar_contacto.showModal()" class="btn btn-primary btn-sm">
                    Guardar
                </button>
            </div>
        </div>

    </c-slot>

    <c-apps.directorio.contactos.form/>
</c-layouts.app>