<c-layouts.app>
    <c-slot name="header">
        <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-4">

            <!-- START -->
            <div class="justify-self-start">
                <h1 class="text-primary font-bold text-xl flex items-center gap-2">
                    <span class="icon-[fluent--book-contacts-28-filled]"></span>
                    Directorio
                </h1>
                <h2 class="text-muted text-sm">Contactos del corporativo</h2>
            </div>

            <!-- MIDDLE -->
            <div class="justify-self-center w-full flex justify-center">
                <c-shared.searchbar/>
            </div>


            <!-- END -->
            <div class="justify-self-end flex items-center gap-2">
                <c-shared.filters />

                {% if perms.directorio.add_contacto %}
                    <a href="{% url 'directorio:create' %}" class="btn btn-sm btn-primary">
                        CREAR
                    </a>
                {% endif %}
            </div>

        </div>

    </c-slot>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {% for contacto in contactos %}
            <c-apps.directorio.contactos.card :contacto="contacto"/>
        {% empty %}
            <p>No hay contactos para mostrar.</p>
        {% endfor %}
    </div>

    <!-- PAGINACIÓN -->
    <div class="mt-6 flex justify-center space-x-2">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-outline">Anterior</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <span class="btn btn-sm btn-primary">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}" class="btn btn-sm btn-outline">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-outline">Siguiente</a>
        {% endif %}
    </div>


</c-layouts.app>