{% load django_tables2 %}
<c-layouts.app>
    <c-slot name="header">
        <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-4">

            <!-- START -->
            <div class="justify-self-start">
                <h1 class="text-primary font-bold text-xl flex items-center gap-2">
                    <span class="icon-[fluent--book-contacts-28-filled]"></span>
                    Directorio
                </h1>
                <h2 class="text-muted text-sm">Contactos de la empresa</h2>
            </div>

            <!-- MIDDLE -->
            <div class="justify-self-center w-full flex justify-center">
                <c-shared.searchbar/>
            </div>


            <!-- END -->
            <div class="justify-self-end flex items-center gap-2">
                <c-shared.filters/>

                <div class="join">

                    <a href="{% querystring 'vista'='tarjetas' %}"
                       class="btn btn-sm join-item
                        {% if vista == 'tarjetas' %}btn-active btn-primary{% else %}btn-outline{% endif %}"
                       title="Vista de tarjetas">
                        <span class="icon-[mdi--view-grid] text-lg"></span>
                    </a>

                    <a href="{% querystring 'vista'='lista' %}"
                       class="btn btn-sm join-item
                        {% if vista == 'lista' or vista is None %}btn-active btn-primary{% else %}btn-outline{% endif %}"
                       title="Vista de lista">
                        <span class="icon-[mdi--view-list] text-lg"></span>
                    </a>

                </div>

                {% if perms.directorio.add_contacto %}
                    <a href="{% url 'directorio:create' %}" class="btn btn-sm btn-primary">
                        CREAR
                    </a>
                {% endif %}
            </div>

        </div>

    </c-slot>

    {% if vista == 'tarjetas' %}
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            {% for contacto in contactos %}
                <c-apps.directorio.contactos.card :contacto="contacto"/>
            {% empty %}
                {% include 'apps/directorio/partials/empty_state.html' %}
            {% endfor %}
        </div>

        <!-- PAGINACIÓN -->
        <div class="mt-6 flex justify-center space-x-2">
            {% if page_obj.has_previous %}
                <a href="{% querystring 'page'=page_obj.previous_page_number %}" class="btn btn-sm btn-outline">Anterior</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <span class="btn btn-sm btn-primary">{{ num }}</span>
                {% else %}
                    <a href="{% querystring 'page'=num %}" class="btn btn-sm btn-outline">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="{% querystring 'page'=page_obj.next_page_number %}" class="btn btn-sm btn-outline">Siguiente</a>
            {% endif %}
        </div>
    {% else %}
        {% if table.page.object_list %}
            {% render_table table %}
        {% else %}
            {% include "apps/directorio/partials/empty_state.html" %}
        {% endif %}
    {% endif %}


</c-layouts.app>