<c-layouts.app>
    <c-slot name="header">
        <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-4">

            <!-- START -->
            <div class="justify-self-start">
                <h1 class="text-primary font-bold text-xl flex items-center gap-2">
                    <span class="icon-[fluent--book-contacts-28-filled]"></span>
                    Directorio
                </h1>
                <h2 class="text-muted text-sm">Contactos del corporativo</h2>
            </div>

            <!-- MIDDLE -->
            <div class="justify-self-center w-full flex justify-center">

            </div>


            <!-- END -->
            <div class="justify-self-end">
                {% if perms.directorio.add_contacto %}
                    <a href="{% url 'directorio:create' %}" class="btn btn-sm btn-primary">
                        CREAR
                    </a>
                {% endif %}
            </div>

        </div>

    </c-slot>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {% for contacto in contactos %}
            <c-apps.directorio.contactos.card :contacto="contacto"/>
        {% endfor %}
    </div>
</c-layouts.app>