<c-layouts.base>
    <div class="min-h-dvh bg-base-200 flex flex-col antialiased pb-16 md:pb-0">

        <header class="sticky top-0 z-30 bg-base-100 shadow-sm shrink-0">
            <c-shared.navbar/>

            {% if breadcrumbs %}
                <c-shared.breadcrumbs :breadcrumbs="breadcrumbs"/>
            {% endif %}

            {% if header %}
                <div class="header px-4 bg-base-100/60 py-2 shrink-0 shadow">
                    {{ header }}
                </div>
            {% endif %}
        </header>

        {% if messages %}
            <div class="shrink-0 p-2">
                <c-shared.messages/>
            </div>
        {% endif %}

        <main class="flex-1 p-3 md:p-3 mx-auto w-full">
            {{ slot }}
        </main>

        <div class="shrink-0 hidden md:block">
            <c-shared.footer/>
        </div>

        <div class="dock md:hidden bg-base-300">
            {% for item in mobile_dock_items %}
                <a href="{{ item.url }}" class="{% if item.active %}dock-active{% endif %}">
                    <span class="{{ item.icon }} size-[1.2em]"></span>
                    <span class="dock-label">{{ item.nombre }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</c-layouts.base>