<c-layouts.base>
    <div class="min-h-dvh bg-base-200 flex flex-col antialiased pb-16 md:pb-0">

        <header class="sticky top-0 z-30 bg-base-100 shadow-sm shrink-0">
            <c-shared.navbar/>

            {% if breadcrumbs %}
                <c-shared.breadcrumbs :breadcrumbs="breadcrumbs"/>
            {% endif %}

            {% if header %}
                <div class="header px-4 bg-base-100/60 py-2 shrink-0 shadow">
                    {{ header }}
                </div>
            {% endif %}
        </header>

        {% if messages %}
            <div class="shrink-0 p-2">
                <c-shared.messages/>
            </div>
        {% endif %}

        <main class="flex-1 p-3 md:p-3 mx-auto w-full">
            {{ slot }}
        </main>

        <div class="shrink-0 hidden md:block">
            <c-shared.footer/>
        </div>

        <div class="dock md:hidden bg-base-300 ">
            <a href="/" class="{% if request.path == '/' %}dock-active{% endif %}">
                <span class="icon-[heroicons--home] size-[1.2em]"></span>
                <span class="dock-label">Inicio</span>
            </a>
            <a href="{% url 'directorio:list' %}" class="{% if 'directorio' in request.path %}dock-active{% endif %}">
                <span class="icon-[tabler--address-book] size-[1.2em]"></span>
                <span class="dock-label">Directorio</span>
            </a>
            <a href="{% url 'fotos:root' %}" class="{% if 'fotos' in request.path %}dock-active{% endif %}">
                <span class="icon-[tabler--camera] size-[1.2em]"></span>
                <span class="dock-label">Fotos</span>
            </a>
            <a href="/" class="{% if 'configuracion' in request.path %}dock-active{% endif %}">
                <span class="icon-[mdi--gear] size-[1.2em]"></span>
                <span class="dock-label">Configuración</span>
            </a>
        </div>
    </div>
</c-layouts.base>